
/*font-family: 'Crete Round', serif;*/

body {
	background-image: url(../images/biopharma.jpg);
	background-size: cover;
}

h1 {
	font-family: 'Crete Round', serif;
	color: #575787;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin: 20px;
}

h2, h3 {
	font-family: 'Crete Round', serif;
	color: black;
	font-size: 25px;
	margin: 10px;
}

p {
	font-family: 'Crete Round', serif;
	color: black;
	font-size: 20px;
	margin-left: 35px;
}

.container {
	background-color: rgba(208,219,223,0.6);
}

.form-control {
	font-size: 20px;
	margin: 15px;
	padding: 20px;
}

#updatedProfile {
	display: none;
	font-family: 'Crete Round', serif;
	color: white;
	font-size: 60px;
	font-weight: bold;
	text-align: center;
}

#genderID, #myCountry {
	font-size: 25px;
	font-family: 'Crete Round', serif;	
	text-align: center;
	color: #575787;
}

.btn {
	margin-top: 30px;
}
